@tailwind base;
@tailwind components;
@tailwind utilities;

.capyAppear {
  transition: 2000ms;
  position: absolute;
  z-index: -1;
  right: 0px;
}

img.capyAppear {
  max-width: 150px;
}

.makeItAppear {
  position: relative;
  z-index: initial;
}

.makeItAppear:hover .capyAppear {
  transition: 2000ms;
  transform: rotate(0deg);
  right: 140px;
}