.capyAppear {
  transition: 2000ms;
  position: absolute;
  z-index: -1;
  left: 0px;
}

img.capyAppear {
  max-width: 150px;
}

.makeItAppear {
  position: relative;
  z-index: initial;
}

.makeItAppear:hover .capyAppear {
  transition: 2000ms;
  transform: rotate(20deg);
  left: 100%;
}