.capyAppear {
  transition: 2000ms;
  position: absolute;
  z-index: -1;
  right: 0px
}

img.capyAppear {
  max-width: 150px;
}

.makeItAppear {
  position: relative;
  z-index: inherit;
}

.makeItAppear:hover .capyAppear {
  transition: 2000ms;
  transform: rotate(20deg);
  right: -170px;
}